
.active {
    color: #1cf6ad;
    /* Add any additional styles for the active link */
}


.nav_link.active, .nav_link:hover, .nav_link:active {
    color: #1cf6ad;
    position: relative;
}

.nav_link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #1cf6ad;
    border-radius: 50%;
    animation-delay: 500ms;
    left: 50%;
    top: 20px;
}

/* .nav_link.active::after, .nav_link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #1cf6ad;
    border-radius: 50%;
    animation-delay: 500ms;
    left: 50%;
    top: 20px;
} */


